{% extends 'front.html.twig' %}

{% block body %}


    <!-- CORE : begin -->
    <div id="core" class="page-contact-us">



        <!-- CONTENT SECTION : begin -->
        <section class="content-section">
            <div class="container">


                    <div class="col-sm-7">

                        <div class="contact-form-container">

                            <h3>Ajouter une Reclamation</h3>
                            <form method="post" class="default-form">

                                <!-- FORM VALIDATION ERROR MESSAGE : begin -->
                                <p class="alert-message warning validation" style="display: none;"><i class="ico fa fa-exclamation-circle"></i><strong>All fields are required!</strong></p>
                                <!-- FORM VALIDATION ERROR MESSAGE : end -->

                                <!-- SENDING REQUEST ERROR MESSAGE : begin -->
                                <p class="alert-message warning request" style="display: none;"><i class="ico fa fa-exclamation-circle"></i><strong>Form not sent!</strong><br>There was a connection problem. Try again later.</p>
                                <!-- SENDING REQUEST ERROR MESSAGE : end -->

                                <div class="row">


                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <p>
												<span class="select-box">
													<select id="field_subject" name="field_subject" class="required" data-placeholder="Type Reclamation">
														<option>Subject</option>
														<option value="etat du chambre">etat du chambre</option>
														<option value="type d'acceuil">type d'acceuil</option>
                                                        <option value="autre">autre</option>
													</select>
                                        <p><input type="text" id="field_message"  class="required" name="field_message"  placeholder="Ajouter le contenu de votre reclamation"></p>
                                                    <script>X
                                                                    $(document).on("change", "#field_subject", function() {
                                                                        var y = $(this).find("option:selected").text();
                                                                        $("#field_subject").val(y);
                                                                    });
                                                                </script>
												</span>
                                        </p>
                                    </div>
                                </div>

                                   <div class="row">

                                    <div class="col-sm-6">
                                        <button type="submit" class="button submit-btn" data-loading-label="Sending..."><i class="fa fa-envelope"></i>Reclamer</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- CONTENT SECTION : end -->

    </div>
    <!-- CORE : end -->




{% endblock %}


