<h3>Statistics</h3>

<script type="text/javascript" src="{{ asset('bundles/app/js/library/jquery-1.11.0.min.js') }}"></script>
<script src="{{ asset('assets/highcharts.js') }}"></script>
<script src="{{ asset('assets/exporting.js') }}"></script>
<script type="text/javascript" >
    {{ chart(chart) }}
</script>
<div id="piechart"></div>