<body>
{{ form_start (form) }} <table> <tr>

            {{ form_widget (form.email) }}
                        <div style="display:none"> {{ form_widget (form.text) }}</div>
        </td> </tr> </table> {{ form_end (form) }} </body>